blockquote,body,dd,dir,dl,fieldset,figure,form,h1,h2,h3,h4,h5,h6,hr,input,legend,menu,ol,optgroup,p,pre,tbody,td,textarea,tfoot,th,thead,ul {
    margin: 0;
    padding: 0
}

ol,ul,li {
    list-style: none;
}

img {
    border: none;
}

a {
    text-decoration: none
}

a:active {
    background-color: transparent
}

a:active,a:hover {
    outline: 0 none
}

a:focus {
    outline: 0 none
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body,button,input,select,textarea {
    /*font-family: helvetica neue,arial,hiragino sans gb,stheiti,wenquanyi micro hei,\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;*/
    font-family: "Microsoft YaHei", Helvetica Neue, Helvetica, Arial, sans-serif;
    -ms-text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis;
    text-spacing: ideograph-alpha ideograph-numeric ideograph-parenthesis;
    font-size: 14px;
    outline: none;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* float */
.fl{float: left;}
.fr{float: right;}

/* clearFix */
.clearFix:after{content: "";display: block;clear: both;height: 0}
.clearFix{zoom: 1}

/*color*/
.orangeBg{ background: #ff6235;}
.yellowNg{ background: #ffb525;}
.grayBg{ background: #e6e6e6;}
.whiteBg{ background: #fff;}